#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

h1{
    text-align: center;
    font-family: Roboto;
}

.gridRow {
    display: flex;
}

.cells{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.second-container{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#drawbtn, #erasebtn{
    margin: 10px;
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #24a0ed;
}

#gridSize{
    margin: 10px;
    height: 30px;
    font-size: 15px;
}

#makeGridBtn{
    margin: 10px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #24a0ed;
}

